* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue';
}

html,
body {
  height: 100%;
  width: 100%;
}
.parent {
  min-height: 100vh;
  width: 100%;
  background-color: #d4bcbc;
  padding: 30px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  height: 250px;
  width: 300px;
  padding: 18px;
  background: hsl(0, 8%, 90%);
  border-radius: 14px;
  box-shadow: 0 6px 20px rgba(57, 17, 17, 0.06);
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 100px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon span {
  font-size: 12px;
  color: #6b7280;
}

.center h3 {
  font-size: 20px;
  margin-bottom: 4px;
  color: #111827;
  font-weight: 700;
}

.centericon {
  color: #6b7280;
  font-size: 14px;
}

.bottom span {
  color: #6b7280;
  font-size: 12px;
}

.bottom .company {
  font-size: 15px;
  color: #111827;
  font-weight: 600;
  margin-top: 6px;
}

.bottom img {
  height: 48px;
  width: 48px;
  border-radius: 15px;
  object-fit: cover;
}
